.container {
  margin: 30px auto;
  width: 90%;
  /* height: calc(100vh - 70px); */
}

.post {
  border: 1px solid gray;
  padding: 20px 20px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.post-id {
  font-size: 12px;
  font-weight: 900;
  color: rgb(161, 161, 161);
  margin-bottom: 10px;
}

.author {
  font-size: 18px;
}

.post-time {
  font-size: 12px;
  font-weight: 900;
  color: rgb(161, 161, 161);
}

.text {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.post-footer p {
  font-size: 11px;
  color: rgb(161, 161, 161);
}

/* comment section */

.comment-section {
  border-top: none;
  padding-top: 20px;
  /* padding-left: 20px; */
}

.comments {
  margin-top: 10px;
}

.comment {
  border: 1px solid gray;
  margin-left: 20px;
  padding: 15px;
}

.comment:not(:first-child) {
  border-top: none;
}

.comment-header {
  display: flex;
  justify-content: space-between;
}

.comment-author {
  font-size: 14px;
}

.comment-text {
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 1px;
  margin-top: 10px;
}

/* leave comment */

.open-footer-btn-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer-divider {
  height: 182px;
}

.footer {
  background-image: url("../../img/mosaic.png");
  z-index: 20;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: center;

  padding-top: 20px;
  padding-bottom: 10px;
  border-top: 2px solid gray;
}

.leave-comment-box {
  width: 90%;
}

.leave-comment-box input {
  margin: 10px 0;
}

.leave-comment-box textarea {
  height: 60px;
}

.leave-comment-btn-box {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}
